.home-page  {
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-page .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-page .links img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

#dark .home-page {
    background-color: black;
}
